<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\Structure\Data">
        <plugin name="xpify_remove_unwanted_config_tab" type="Xpify\Core\Plugin\Config\RemoveUnwantedConfig" sortOrder="99999" />
    </type>
</config>
