<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <installation_notify>
            <general>
                <enable>0</enable>
                <sender_name>Xpify System</sender_name>
                <sender_email>system@bsscommerce.com</sender_email>
            </general>
        </installation_notify>
    </default>
</config>
