<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="app_installed_successfully">
        <observer name="fetch_merchant_info" instance="Xpify\MerchantQueue\Observer\NewInstallationObserver"/>
    </event>
    <event name="app_uninstalled_success">
        <observer name="push_webhook_app_uninstalled" instance="Xpify\MerchantQueue\Observer\AppUninstallObserver"/>
    </event>
</config>
